:root {
  --theme-background-color: transparent linear-gradient(94deg, rgb(0 6 58), rgb(67 11 94) 55%, rgb(0 6 58));
  --theme-header-background-color: rgb(17 16 17);

  --theme-primary-light: rgb(0 6 58);
  --theme-primary: #ff6f25;
 
}
.l {
  border: 1px solid red;
}
.app-wrapper {
  position: relative;
  .top-section {
    position: absolute;
    top: 0;
  }
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}